body {
    padding-top: 200px;
}

.TimeAndGreet {
}

.time {
    color: whitesmoke;
    font-size: 1200%;
    letter-spacing: -5px;
    line-height: 1;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 0;
}

.greet {
    color: white;
    text-align: center;
    font-size: 350%;
    font-weight: lighter;
    margin-top: 0;
}
.clockIn {
    text-align: center;
    color: red;
    background-color: transparent;
    font-size: 20px;
    width: 150px;
    border-radius: 10px;
}