.content {
    padding-top: 170px;
}

.TimeAndGreet {
    text-align: center;
    background-image: url(/static/img/home2.jpg);
    background-size: cover;
    margin:0;
    padding:0;
}

.sheet {
    text-align: center;
    background-image: url(/static/img/home.jpg);
    background-size: cover;
}

.time {
    color: whitesmoke;
    font-size: 1200%;
    letter-spacing: -5px;
    line-height: 1;
    font-weight: lighter;
    margin-bottom: 0;
}

.greet {
    color: white;
    font-size: 350%;
    font-weight: lighter;
    margin-top: 0;
}
.clockIn {
    color: #19ddff;
    background-color: transparent;
    margin-top: 62px;
    line-height: 30px;
    letter-spacing: -1px;
    border-color: #55bdff;
    border-style: solid;
    border-width: thin;
    font-weight: 100;
    font-size: 20px;
    width: 158px;
    height: 40px;
    border-radius: 6px;
}