<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no,
        initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>developer profile</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'lib/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
    <div class="TimeAndGreet">
        <div class="content">
            <h1 id="time" class="time"></h1>
            <h2 class="greet">Good <span id="period"></span> {{ username }}!</h2>
            <button class="clockIn" id="clockIn">CLOCK IN</button>
        </div>
    </div>
    <div class="sheet">
        <table class="table table-striped attend" id="attend">
            <caption class="caption"><b>ATTENDANCE SHEET</b></caption>
            <thead class="head">
            <tr>
                <td>Date</td>
                <td>Morning</td>
                <td>Afternoon</td>
                <td>Evening</td>
            </tr>
            </thead>
            <tbody class="body" id="log">
            </tbody>
        </table>
    </div>
    <script src="{% static 'lib/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'lib/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/showTime.js' %}"></script>
    <script src="{% static 'js/profile.js' %}"></script>
</body>
</html>
